:root {
  --background-color: #fbf8ef;
  --accent-color: #16c47f;
}

.scrollContainer {
  height: 100%;
  background-color: var(--background-color);
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

.scrollContent {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.card {
  display: flex;
  flex-direction: column;
  padding: 15px;
  background-color: #fff;
  border: 1px solid #000;
  border-radius: 15px;
  gap: 10px;
}

.image {
  width: 100%;
  aspect-ratio: 3/4;
  border-radius: 10px;
  border: 1px solid #000;
}

.cardTitle {
  font-weight: 600;
}

.category {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
}

.header {
  font-size: 18px;
  font-weight: 600;
}

.horizontalList {
  list-main-axis-gap: 15px;
  padding-right: 15px;
}

.backButton {
  padding: 10px;
  border: 1px solid #000;
  border-radius: 100%;
  align-self: flex-start;
}

.backIcon {
  width: 20px;
  aspect-ratio: 1;
}

.gameInfo {
  display: flex;
  align-items: center;
}

.gameName {
  font-size: 25px;
  font-weight: 600;
  flex: 1;
}

.ratingContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

.ratingIcon {
  width: 25px;
  aspect-ratio: 1;
}

.rating {
  font-size: 20px;
  font-weight: 600;
}

.developer {
  font-size: 16px;
  font-weight: 500;
}

.dateContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  background-color: var(--accent-color);
  width: fit-content;
  padding: 5px 10px;
  border-radius: 20px;
  border: 1px solid #000;
}

.dateIcon {
  width: 20px;
  aspect-ratio: 1;
}

.date {
  font-size: 13px;
}

.summary {
  font-size: 15px;
}

.tagContainer {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.tag {
  background-color: #fff;
  padding: 5px 10px;
  border: 1px solid #000;
  border-radius: 20px;
}

.loader {
  width: 48px;
  height: 48px;
  border: 5px solid var(--accent-color);
  border-bottom-color: transparent;
  border-radius: 50%;
  align-self: center;
  top: 50%;
  animation: rotation 1s linear infinite;
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
